<ion-view title="System Documentation and other Manuals">
<ion-side-menus>
	<ion-side-menu-content>
		<ion-nav-view name='manualContent'></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
		<ion-header-bar>
			<h1>Title</h1>
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item nav-clear menu-close href="#/manuals/scale">
					Scales
				</ion-item>
				<ion-item nav-clear menu-close>
					Units
				</ion-item>
				<ion-item nav-clear menu-close>
					Organisation
				</ion-item>
				<ion-item nav-clear menu-close>
					Logging Out
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>

</ion-side-menus>
</ion-view>

